.container {
	width:1170px;
	margin:0 auto;
}
/*--HEADER--START--*/
.menu {
	height:80px;
}
a.logo  {
	width:250px;
	float:left;
	font-family:'Raleway', sanserif;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0.03em;
	text-align: left;
	text-decoration:none;
	color:#2196F3;	
}
.logo-color-black {
	color:#212121;
}
.navigation {
	display:inline;

}
.navigation a {
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
text-align: left;
color:#212121;
text-decoration:none;
list-style: none;
padding-top:30px;
position:relative;

}
.menu a:hover {
	color:#2196F3;
}
.navigation ul {
			list-style:none;
	text-decoration:none;
	display:inline;
}
.navigation li {
			list-style:none;
	text-decoration:none;
	display:inline;
	margin-left:15px;
}
.right {
	width:150px;
	float:right;
	list-style: none;
}
.right  ul {
	float:right;
	display:inline;
	padding-top:30px;
	
}
.right  li {
			list-style:none;
	display:inline;
	
}
.right a {
	font-family: 'Roboto', sanserif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 0.7;
letter-spacing: 0.02em;
text-align: left;
text-decoration:none;
color:#757575;	
}
.right a:hover {
	color:#2196F3;

}
/*--HEADER--END--*/
/*--MAIN--HERO-START--*/
.top-filters {
	padding-top:100px;
	margin:0 auto;
}
.top-filters ul {
		margin:0 auto;

}
.top-filters li {
	width:145px;
	height:38px;
	list-style:none;
	text-decoration:none;
	display:inline-block;
}
.top-filters a {
	width:145px;
	height:38px;
	text-decoration:none;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 0.03em;
	text-align: center;
	color:#212121;
	background: #F5F4FA;
	border-radius: 4px;

}
.content ul {
	list-style:none;
	text-decoration:none;
	display:inline-block;
}
.content li {
	list-style:none;
	text-decoration:none;
	display:inline-block;
}
.content h3 {
font-family: 'Roboto', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;
color:#212121;

}
.content h4 {
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
color: #757575;;

}
.content img {
	width: 370px;
	height: 294px;
}
/*--MAIN--HERO-END--*/
/*--FOOTER--START--*/
.footer {
	height:252px;
	background-color:#2F303A;
}
.footer a {
	padding-top:60px;
	text-decoration: none;
	}
.address {
	padding-top:80px;

}
.address ul {
	padding-left: 0;
}
.address li {
	list-style:none;
}
li.adress {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.03em;
	text-align: left;
	color: #fff;
	
	}
li.email-phone {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.03em;
	text-align: left;
	color:#757575;
	}
/*--FOOTER--END--*/--*/
