::root {
	--main-color:#212121;
	--secondary-color:#757575;
	--third-color:#fff;
}
body {
	font-size:14px;
	font-weight:400;
	font-style:normal;
	font-family:'Roboto', sans-serif;
	margin:0;
}
ul,ol {
	margin-top:0;
	margin-bottom:0;
	padding-left: 0;
}
.container {
	width:1200px;
	margin:0 auto;
}
section {
	padding-top:94px;
}
/*--HEADER--START--*/

.menu {
	height:80px;
	border-bottom:1px solid #eee;
	margin-top:0;
	display:inline;
	padding-top:0;
}
a.logo  {
	width:250px;
	color:#2196F3;
	float:left;
	font-family: Raleway, sans-serif;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.03em;
	text-align: left;
	margin-top: 24px;
	text-decoration:none;
}
.logo-color-black {
	color:#212121;
}
.navigation {
	height:80px;
	width:500px;
	display:inline-block;
}
.navigation ul.list {
	height:80px;
	width:500px;
	display:inline-block;
}
.navigation li.item  {
	height:80px;
	display:inline-block;
	margin-left:45px;
	text-decoration:none;
	list-style:none;
}
a.item-link {
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
letter-spacing: 0.02em;
text-align: left;
color:#212121;
text-decoration:none;
list-style: none;
margin-top:32px;
display:block;
}
ul.top  {
	height:80px;
	float:right;
	display:inline-block;
}
li.right {
	display:inline-block;
	margin-left:45px;
}
.right a.item-link  {
font-family: 'Roboto', sanserif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 0.7;
letter-spacing: 0.02em;
text-align: left;
text-decoration:none;
color:#757575;
margin-top:32px;
display:block;

}
a.item-link:hover {
	color:#2196F3;
}
a.item-link:focus {
	color:#2196F3;
}
a.current:active {
	color:#2196F3;
}
a.contact:hover {
	color:#2196F3;
}
a.contact:hover {
	color:#2196F3;
}
/*--HEADER--END--*/
/*--MAIN--HERO-START--*/
/*index.html*/

.hero  {
	height:600px;
	background-color:#2F303A;
	margin-top:0;
	position:relative;
}
h1.title {
	font-family: 'Roboto', sans-serif;
	font-size: 44px;
	font-style: normal;
	font-weight: 900;
	line-height:60px;
	letter-spacing: 0.06em;
	text-align: center;
	color:#fff;
	margin-top:0;
	margin-bottom:15px;
	text-transform:uppercase;
	position:absolute;
	top:200px;
	left:452px;
	bottom:200px;
	margin-bottom:0;

	
}
.hero  button {
	height:50px;
	width:200px;
	margin:0 auto;
	background: #2196F3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 0.53;
	letter-spacing: 0.06em;
	text-align: center;
	color:#fff;
	cursor:pointer;
	position: absolute;
	left: 611px;
	top: 350px;
}
.info {
	width:1200px;
	display:inline-block;
}
.article {
	display:inline-flex;
	margin-top:0;
	width:270px;
	margin-left:27px;
}
.info h2.title {
    visibility: hidden;
    margin-top: 0;
    margin-bottom: 0;
    display: none;
}
ul.block {
	width:1200px;
	display:inline-block;
}
li.line {
	display:inline-block;
}
.info h3.title {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.03em;
	text-align: left;
	color:#212121;
	margin-top:0;
	margin-bottom:0;
	text-transform: uppercase;

}
p.paragraf {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.03em;
	text-align: left;
	color:#757575;
	margin-bottom:0;

	
}
.img {
	width:1200px;
	display:inline-block;
}
ul.block  {
	margin-top:50px;
	width:1200px;
	display:inline-block;
}
li.line  {
		display:inline-block;
}
.img h2.title  {
	margin:0 auto;
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 42px;
	letter-spacing: 0.03em;
	text-align: center;
	color:#212121;
	padding-bottom:50px;

}
.img img {
	width:370px;
	height:294px;
	margin-left:22px;
	
}
.person {
	background: #F5F4FA;

}
h2.title  {
margin:0 auto;
font-family: 'Roboto', sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;
color:#212121;

}
h3.title  {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 19px;
	letter-spacing: 0.03em;
	text-align: center;
	color:#212121;

}
.paragraf p {
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;
color:#757575;

}
.line ul {
	width:1200px;
	height:368px;
	padding-top:50px;
	display:inline;
}
.person {
	width:1200px;
	display:inline-block;
}
.person h2.title {
	font-family: Roboto;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 42px;
	letter-spacing: 0.03em;
	text-align: center;
	padding-top:94px;

}
ul.block {
	width:1200px;
	display:inline;

}
.figure {
	height:365px;
	width:270px;
	display:inline-block;
	background:#fff;
	margin-top:50px;
	margin-bottom:94px;
	margin-left:22px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
li.line {
	display:block;
	list-style:none;
}
.person  img {
	width:270px;
	height:260px;
}
h3.title {
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;
color:#212121;

}
p {
	font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;
color:#757575;


}
/*index.html-END-*/
/*portfolio.html*/
.top-filters {
	padding-top:100px;
	margin:0 auto;
}
ul.list  {
		margin:0 auto;
		display:flex;
		justify-content:center;
		list-style:none;
		width:1200px;
		height:38px;

}
.top-filters li.item {
	width:145px;
	height:38px;
	display:inline-block;
	align-items: center;
	background: #F5F4FA;
	margin-right:20px;
	border-radius: 4px;
}
.top-filters a.item-link {
	text-decoration:none;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 0.03em;
	text-align: center;
	color:#212121;
	height:38px;
	width:145px;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-top:0;


}

.top-filters li.item a:hover {
	background-color: #2196F3;
		border-radius: 4px;
		color:#fff;
}
.top-filters li.item a:focus {
	background-color: #2196F3;
	border-radius: 4px;
	color:#fff;
}
.top-filters li.item a:active {
	background-color: #2196F3;
	border-radius: 4px;
	color:#fff;
}
.content ul {
	list-style:none;
	text-decoration:none;
	display:inline-block;
}
.content li {
	list-style:none;
	text-decoration:none;
	display:inline-block;
	margin-left:22px;
	border:1px solid #eee;
	margin-bottom:25px;
}
.content p {
font-family: 'Roboto', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;
color:#212121;
margin-left:24px;
margin-top:4px;

}
.content h3 {
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
color:#757575;
margin-left:24px;
margin-top:20px;

}
.content img {
	width: 370px;
	height: 294px;
}
/*portfolio.html-END-*/
/*--MAIN--HERO-END--*/

/*--FOOTER--START--*/
.footer {
	height:252px;
	background-color:#2F303A;
}
.footer a.logo {
	padding-top:36px;
}
.logo-color-white {
	color:#fff;
}
.footer a {
	text-decoration: none;
	}
.footer ul {
	padding-top:111px;
	background-color:#2F303A;
}
.footer li {
	list-style:none;
}

li.adress a {
font-family: Roboto, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
color:#fff;

}
li.email-phone a {
font-family: Roboto, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
color:#757575;
}
li.email-phone a:hover {
	color:#2196F3;
}
li.email-phone a:focus {
	color:#2196F3;
}
/*--FOOTER--END--*/

