::root {
	--main-color:#212121;
	--secondary-color:#757575;
	--third-color:#fff;
}
body {
	font-size:14;
	font-weight:400;
	font-style:normal;
	font-family:'Roboto', sans-serif;
}
ul,ol {
	margin-top:0;
	margin-bottom:0;
	padding-left: 0;
}
.container {
	width:1200;
	margin:0 auto;
}
.top-menu {
	height:60;
	margin-top:20;
}
.top-menu ul {
 	height:80;
	 display: inline;

}
.top-menu li {
	list-style:none;
	text-decoration:none;
	display:inline-block;
	margin-left:30;
}
.top-menu a {
font-family: 'Roboto', sans-serif;
font-size: 14;
font-style: normal;
font-weight: 500;
line-height: 16;
letter-spacing: 0.02em;
text-align: left;
color:#212121;
text-decoration:none;
list-style: none;

}
.top-menu a:hover {
	color:#2196F3;
}
.top-menu a:focus {
	color:#2196F3;
}
.top-menu a:active {
	color:#2196F3;
}
.top-menu a:link {
color:tomato;	
}
a.logo  {
	width:250;
	color:#2196F3;
	float:left;
	font-family: 'Raleway', sans-serif;
	font-size: 26;
	font-style: normal;
	font-weight: 700;
	line-height: 31;
	letter-spacing: 0.03em;
	text-align: left;	
}
.logo-color-black {
	color:#212121;
}
.navigation{
	display: inline;
}
.navigation a {
	padding-top:32;
}
.right {
	width:150;
	float:right;
}
.right li {
}
.right a {
	color:#757575;

}
.right a:hover {
	color:#2196F3;

}

.big-board  {
	height:600;
	background-color:#2F303A;
}
.big-board  h1 {
	padding-top:200;
	font-family: 'Roboto', sans-serif;
	font-size: 44;
	font-style: normal;
	font-weight: 900;
	line-height: 0.73;
	letter-spacing: 0.06em;
	text-align: center;
	color:#fff;
	margin-top:0;
	margin-bottom:15;
	text-transform: uppercase

	
}
.big-board  button {
	height:50;
	width:200;
 	margin-left:532;
	background: #2196F3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4;
	font-family: 'Roboto', sans-serif;
	font-size: 16;
	font-style: normal;
	font-weight: 700;
	line-height: 0.53;
	letter-spacing: 0.06em;
	text-align: center;
	color:#fff;
	
}
.info h2 {
	visibility:hidden;
}
.info ul {
	height:279;
}
.info li {
	display:inline-block;
	width:270;
	margin-left:30;
}
.info h3 {
	margin-top:94;
	margin-bottom:0;
	font-family: 'Roboto', sans-serif;
	font-size: 14;
	font-style: normal;
	font-weight: 700;
	line-height: 0,87;
	letter-spacing: 0.03em;
	text-align: left;
	color:#212121;

}
.info p {
	font-family: 'Roboto', sans-serif;
	font-size: 14;
	font-style: normal;
	font-weight: 400;
	line-height: 24;
	letter-spacing: 0.03em;
	text-align: left;
	color:#757575;
	margin-bottom:0;

	
}
.img ul {
	margin-top:92;
	height:386;
}
.img li {
		display:inline-block;
		margin-left:22.5;
}
.img h2 {
	margin:0 auto;
	font-family: 'Roboto', sans-serif;
	font-size: 36;
	font-style: normal;
	font-weight: 700;
	line-height: 42;
	letter-spacing: 0.03em;
	text-align: center;
	color: #212121;

}
.person {
	height:480;
	background-color:#F5F4FA;

}
.person h2 {
margin-top:94;
margin:0 auto;
font-family: 'Roboto', sans-serif;
font-size: 36;
font-style: normal;
font-weight: 700;
line-height: 42;
letter-spacing: 0.03em;
text-align: center;
color:#212121;

}
.person h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 16;
	font-style: normal;
	font-weight: 500;
	line-height: 19;
	letter-spacing: 0.03em;
	text-align: center;
	color:#212121 ;

}
.person p {
font-family: 'Roboto', sans-serif;
font-size: 16;
font-style: normal;
font-weight: 400;
line-height: 19;
letter-spacing: 0.03em;
text-align: center;
color:#757575;

}
.person ul {
	width:1170;
	height:368;
	margin-top:50;
}
.person li {
			display:inline-block;
			padding-right:15;
}
.person  img {
	width:270;
	height:260;
}
.footer {
	height:252;
	background-color:#2F303A;
}
.footer ul {
	padding-top:111;
	background-color:#2F303A;
}
.footer li {
	list-style:none;
}
.footer a {
padding-top:60;
text-decoration: none;
}
.logo-color-white {
color:#fff;	
}

li.adress a {
font-family: 'Roboto', sans-serif;
font-size: 14;
font-style: normal;
font-weight: 400;
line-height: 24;
letter-spacing: 0.03em;
text-align: left;
color: #fff;

}
li.email-phone a {
font-family: 'Roboto', sans-serif;
font-size: 14;
font-style: normal;
font-weight: 400;
line-height: 24;
letter-spacing: 0.03em;
text-align: left;
color:#757575;
}
